@use "@/app/styles/mixins/media" as *

.Footer
  background: color-mix(in srgb, var(--grey), transparent 80%)
  padding-top: 180px
  padding-bottom: 60px

  &__header
    color: #00000080
    letter-spacing: 0
    text-transform: none
    margin-top: 0
    margin-bottom: 0
    font-family: Manrope, sans-serif
    font-size: 16px
    font-weight: 600
    line-height: 109%
    text-decoration: none

  &__top
    display: flex
    gap: 72px

    +media-up("md")
      flex-direction: column

  &__bottom
    margin-top: 60px

    +media-up("md")
      margin-top: 72px

  &__copyright
    display: flex
    gap: 16px
    font:
      size: 14px
      weight: 500

    +media-up("md")
      justify-content: center


  &__container
    &--after, &--before
      display: flex
      width: 100%

    &--before
      display: flex
      flex-direction: column
      align-items: flex-start
      gap: 30px

    &--after
      display: flex
      flex-wrap: wrap
      gap: 18px
      max-width: 37%

      +media-up("xl")
        flex-wrap: nowrap
        flex-direction: column
        max-width: 37%

      +media-up("md")
        max-width: none

  &__links
    width: calc((100% / 2) - 24px)
    +media-up("lg")
      margin-bottom: 18.5px

    +media-up("md")
      width: 100%

    &, & > ul
      display: flex
      flex-direction: column
      gap: 20px

      +media-up("lg")
        gap: 16px

      +media-up("md")
        text-align: center
        width: 100%

    &-item
      list-style: none

    &-link
      text-decoration: none
      transition: opacity .2s cubic-bezier(.55, .055, .675, .19)
      color: var(--font-color)
      font:
        size: 16px
        weight: 500

      +media-up("lg")
        font-size: 14px

      &:hover
        opacity: .45
        
  &__time
    color: #4e4e4e
    margin-top: 0
    margin-bottom: 0
    font-family: Manrope, sans-serif
    font-size: 27px
    font-weight: 500
    line-height: 33px
    text-decoration: none

    +media-up("md")
      text-align: center
      width: 100%
      font-size: 20px

    &--accent
      color: #939393


  &__title
    color: var(--font-color)
    letter-spacing: -2px
    margin-top: 0
    margin-bottom: 0
    font-size: 74px
    font-weight: 500
    line-height: 115%

    +media-up("lg")
      font-size: 60px

    +media-up("md")
      text-align: center
      width: 100%

  &__email
    color: var(--font-color)
    margin-top: 40px
    margin-bottom: 0
    font-size: 32px
    font-weight: 500
    line-height: 109%
    text-decoration: underline
    transition: opacity .2s cubic-bezier(.25, .46, .45, .94)

    +media-up("md")
      font-size: 24px
      text-align: center
      width: 100%
      margin-top: 20px

    &:hover
      opacity: .45