@use "@/app/styles/mixins/media" as *

.PageTitle
  display: flex
  align-items: flex-end
  padding: 60px 70px 90px

  &__container
    width: 100% !important
    max-width: none !important
    margin: 0 !important

  +media-up("lg")
    padding: calc(18.5px * 2)

  +media-up("md")
    padding: 18.5px

  &__title
    text-align: left
    font-size: 90px
    margin: 0
    font-weight: 500
    line-height: 1.1
    letter-spacing: -.04em
    will-change: transform

    +media-up("2xl")
      font-size: 72px

    +media-up("xl")
      font-size: 58px

    +media-up("lg")
      font-size: 46px

    +media-up("md")
      font-size: 30px
